<section class="about bg-left" style="background-image:url('[[+background-image]]#[[+idx]]')">
	<div class="container-fluid wrap content">
		<div class="row">
			<div class="col-xs-12 col-sm-7 col-sm-offset-5 content-animate">
				[[+headline:notempty=`<div class="row">
					<div class="col-xs-12">
						[[+headline]]
					</div>
				</div>`]]
				<div class="row">
					<div class="col-xs-12 [[+headline:notempty=`col-sm-11 col-sm-offset-1`]]">
						[[+content]]
					</div>
				</div>
			</div>
		</div>
	</div>
</section>