<section class="custom-piece teal">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-12 col-sm-6 content-animate">
				<h2>[[+headline]]</h2>
				[[+content]]
				<a href="/contact" class="button">Contact Us</a>
			</div>
		</div>
	</div>
	<img src="assets/media/[[+image]]" alt="" class="absolute">
</section>